/*---------------------
  Header
-----------------------*/

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.header-section {
	height: 80px;
	background-color: #fff;
	width: 100%;

	position: fixed;
	z-index: 50;
}

.header-section.header-normal {
	border-bottom: 1px solid #e5e5e5;
}

.logo {
	font-size: 24px;
	display: inline;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.mainmenu ul li {
	display: inline-block;
	list-style: none;
	margin-right: 40px;
	position: relative;
}

.mainmenu ul li:last-child {
	margin-right: 0;
}

.dropdown {
	position: absolute;
	width: 180px;
	background: #ffffff;
	z-index: 99;
	left: 0;
	top: 130px;
	opacity: 0;
	visibility: hidden;
	-webkit-box-shadow: 4px 13px 30px rgba(0, 0, 0, 0.15);
	box-shadow: 4px 13px 30px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.dropdown li {
	display: block;
	margin-right: 0;
}

.mainmenu ul li .dropdown li a {
	padding: 8px 10px;
	display: block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	text-transform: capitalize;
}

ul,
ol {
	padding: 0 160px 0 0;
	margin: 0;
}

ul li .dropdown li a:hover {
	color: #f44949;
}

ul li .dropdown li a:after {
	display: none;
}

ul li.active a:after {
	opacity: 1;
}

ul li:hover>a:after {
	opacity: 1;
}

.mainmenu ul li:hover .dropdown {
	opacity: 1;
	visibility: visible;
	top: 30px;
	padding: 10px;
}

.mainmenu ul li a {
	font-size: 11px;
	color: #171822;
	text-transform: uppercase;
	font-weight: 600;
	padding: 10px 0;
	position: relative;
	display: inline-block;
}

ul li a:after {
	position: absolute;
	left: 0;
	bottom: 6px;
	height: 2px;
	width: 100%;
	background: #25c222;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.slicknav_menu {
	display: none;
}

.langs {
	display: inline;
	color: black;
	list-style: none;
	text-decoration: none;
}

.theme-tags {
	position: fixed;
	top: 20px;
	right: 60px;
	display: flex;
	gap: 18px;
}

.icone__youtube,
fill {
	color: #222;
	transition: all .2s ease 0s;
}

.icone__youtube:hover {
	color: #25c222;
}

.switcher__theme {
	color: #171822;
	transition: all .2s ease 0s;
}

.switcher__theme:hover {
	color: #25c222;
}


/* Tablet */
@media (max-width: 996px) {

	.logo {
		display: none;
	}

	.nav-menu .mainmenu ul li {
		display: none;
	}

	.slicknav_menu {
		display: block;
	}

	.slicknav_menutext,
	span {
		color: #171822;
	}


	.theme-tags {
		top: 8px;
		right: 30px;
	}

	.slicknav_menu {
		display: block;
		background: transparent;
		padding: 0;
	}

	.nav-menu .mainmenu {
		display: none;
	}

	.nav-menu .primary-btn.top-btn {
		display: none;
	}

	.slicknav_btn {
		margin: 34px 0;
		border-radius: 0;
	}

	.slicknav_nav {
		text-align: left;
		background: #222;
	}

	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		margin: 0;
		padding: 10px 20px;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	ul,
	li,
	a {
		padding: 10px 0;
		color: #fff;
		text-transform: uppercase;
	}

	.slicknav_nav {
		margin: 20px 0 0 0;
	}

	.slicknav_nav a:hover {
		border-radius: 0;
		background: #f44949;
		color: #ffffff;
	}

	ul li a:after {
		background: none;
	}

	.slicknav_arrow {
		display: inline;
	}

}