/*---------------------
  Pricing Section
-----------------------*/

.pricing-section {
	padding-top: 90px;
	padding-bottom: 80px;
}

.pricing-section .section-title {
	margin-bottom: 88px;
}

.pricing-section .section-title h2 {
	color: var(--white);
}

.pricing-section .section-title p {
	color: var(--secondory-text-color)
}

.price-item {
	background: var(--white);
	text-align: center;
	padding-top: 34px;
	padding-bottom: 18px;
	position: relative;
	border-radius: 2px;
	margin-bottom: 40px;
}

.price-item.top-rated {
	margin-top: -36px;
}

.price-item .tr-tag {
	width: 28px;
	height: 50px;
	line-height: 38px;
	-webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 65%, 0% 100%, 0% 0%);
	clip-path: polygon(100% 0%, 100% 100%, 50% 65%, 0% 100%, 0% 0%);
	position: absolute;
	right: 26px;
	top: 0;
}

.price-item .tr-tag i {
	color: var(--white);
}

.price-item h4 {
	color: var(--fotter-bg);
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 26px;
}

.price-item .pi-price {
	padding-top: 16px;
	padding-bottom: 14px;
	margin-bottom: 38px;
}

.price-item .pi-price h2 {
	font-size: 60px;
	color: var(--white);
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	display: inline-block;
	position: relative;
	padding-left: 20px;
}

.price-item .pi-price h2 span {
	font-size: 30px;
	position: absolute;
	left: 0px;
	top: 9px;
}

.price-item ul li {
	list-style: none;
	font-size: 16px;
	color: var(--gray);
	line-height: 38px;
}

.price-item .price-btn {
	font-size: 16px;
	color: var(--fotter-bg);
	font-weight: 600;
	display: inline-block;
	background: var(--white);
	padding: 10px 85px;
	border-radius: 50px;
	-webkit-box-shadow: 0px 6px 20px var(--grey);
	box-shadow: 0px 6px 20px var(--grey);
	position: relative;
	bottom: -39px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.price-item .price-btn:hover {
	color: var(--white);
}

.price-item .price-btn:hover span {
	color: var(--white);
}

.price-item .price-btn span {
	color: var(--red);
	position: relative;
	top: 3px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}