/*---------------------
  Schedule Section
-----------------------*/

.schedule-section {
	padding-bottom: 60px;
}

.schedule-tab .nav-tabs {
	border: none;
	border-radius: 2px;
	margin-bottom: 60px;
	-webkit-box-shadow: 3px 10px 30px rgba(74, 74, 77, 0.15);
	box-shadow: 3px 10px 30px rgba(74, 74, 77, 0.15);
}

.schedule-tab .nav-tabs .nav-item {
	border-right: 1px solid #e7e7e8;
	width: 20%;
	text-align: center;
}

.schedule-tab .nav-tabs .nav-item:last-child {
	border-right: none;
}

.schedule-tab .nav-tabs .nav-item .nav-link {
	padding: 14px 0 13px 0;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.schedule-tab .nav-tabs .nav-item .nav-link.active {
	border-radius: 2px;
	border-color: #e7e7e8;
}

.schedule-tab .nav-tabs .nav-item .nav-link.active h5 {
	color: #ffffff;
}

.schedule-tab .nav-tabs .nav-item .nav-link.active p {
	color: #ffffff;
}

.schedule-tab .nav-tabs .nav-item .nav-link h5 {
	color: #171822;
	font-weight: 600;
}

.schedule-tab .nav-tabs .nav-item .nav-link p {
	margin-bottom: 0;
}

.schedule-tab .st-content {
	border: 1px solid #ebebeb;
	border-radius: 2px;
	margin-bottom: 40px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.schedule-tab .st-content:hover {
	-webkit-box-shadow: 3px 12px 30px rgba(23, 24, 34, 0.05);
	box-shadow: 3px 12px 30px rgba(23, 24, 34, 0.05);
	border: 1px solid transparent;
}

.schedule-tab .st-content .sc-pic {
	text-align: center;
	padding: 30px 0;
}

.schedule-tab .st-content .sc-pic img {
	height: 120px;
	width: 120px;
	border-radius: 50%;
}

.schedule-tab .st-content .sc-text {
	padding: 58px 0;
}

.schedule-tab .st-content .sc-text h4 {
	color: #171822;
	font-weight: 600;
	margin-bottom: 10px;
}

.schedule-tab .st-content .sc-text ul li {
	list-style: none;
	display: inline-block;
	font-size: 16px;
	color: #6a6b7c;
	margin-right: 25px;
	position: relative;
}

.schedule-tab .st-content .sc-text ul li:last-child:after {
	display: none;
}

.schedule-tab .st-content .sc-text ul li:after {
	position: absolute;
	right: -18px;
	top: 0;
	content: "/";
}

.schedule-tab .st-content .sc-text ul li i {
	color: #f44949;
	font-size: 14px;
}

.schedule-tab .st-content .sc-widget {
	padding: 58px 0;
}

.schedule-tab .st-content .sc-widget li {
	list-style: none;
	font-size: 16px;
	color: #6a6b7c;
	line-height: 32px;
	position: relative;
	padding-left: 22px;
}

.schedule-tab .st-content .sc-widget li i {
	color: #f44949;
	position: absolute;
	left: 0;
	top: 7px;
}

/*------------------------
  Schedule Table Section
-------------------------*/

.schedule-table-section {
	padding-top: 0;
}

.schedule-table-tab .nav-tabs {
	border: none;
	border-radius: 4px;
	margin-bottom: 50px;
	-webkit-box-shadow: 3px 10px 30px rgba(74, 74, 77, 0.15);
	box-shadow: 3px 10px 30px rgba(74, 74, 77, 0.15);
}

.schedule-table-tab .nav-tabs .nav-item {
	border-right: 1px solid #e7e7e8;
	width: 20%;
	text-align: center;
}

.schedule-table-tab .nav-tabs .nav-item:last-child {
	border-right: none;
}

.schedule-table-tab .nav-tabs .nav-item .nav-link {
	padding: 22px 0;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: #171822;
}

.schedule-table-tab .nav-tabs .nav-item .nav-link.active {
	border-color: #e7e7e8;
	color: #ffffff;
}

.schedule-table-tab .schedule-table-content table {
	width: 100%;
	text-align: center;
	border: 1px solid #e1e1e1;
}

.schedule-table-tab .schedule-table-content table thead {
	border-bottom: 1px solid #e5e5e5;
}

.schedule-table-tab .schedule-table-content table thead tr th {
	border-right: 1px solid #e5e5e5;
	padding: 24px 0 26px;
}

.schedule-table-tab .schedule-table-content table thead tr th strong {
	font-size: 24px;
	color: #171822;
	font-weight: 600;
	margin-bottom: 8px;
}

.schedule-table-tab .schedule-table-content table thead tr th span {
	color: #f5523b;
	font-size: 16px;
	display: block;
	font-weight: 400;
}

.schedule-table-tab .schedule-table-content table tbody tr {
	border-bottom: 1px solid #e5e5e5;
}

.schedule-table-tab .schedule-table-content table tbody tr td {
	border-right: 1px solid #e5e5e5;
	width: 260px;
	height: 134px;
	padding: 37px 0 36px;
}

.schedule-table-tab .schedule-table-content table tbody tr td h5 {
	color: #171822;
	font-weight: 600;
	margin-bottom: 10px;
}

.schedule-table-tab .schedule-table-content table tbody tr td p {
	color: #171822;
	margin-bottom: 0;
}

.schedule-table-tab .schedule-table-content table tbody tr td p span {
	color: #a0a1b5;
}

.schedule-table-tab .schedule-table-content table tbody tr td.event-time {
	width: 140px;
	color: #f44949;
	font-size: 24px;
	font-weight: 600;
}

.schedule-table-tab .schedule-table-content table tbody tr td.break h5 {
	margin-bottom: 0;
}

.schedule-table-tab .schedule-table-content table tbody tr td.hover-bg:hover {
	background: -o-linear-gradient(330deg, #ee8425, #f9488b);
	background: linear-gradient(120deg, #ee8425, #f9488b);
}

.schedule-table-tab .schedule-table-content table tbody tr td.hover-bg:hover h5 {
	color: #ffffff;
}

.schedule-table-tab .schedule-table-content table tbody tr td.hover-bg:hover p {
	color: #ffffff;
}

.schedule-table-tab .schedule-table-content table tbody tr td.hover-bg:hover p span {
	color: #ffffff;
}