
/*---------------------
  Speaker Section
-----------------------*/
.speaker-section {
	padding-top: 0;
}

.speaker-item {
	margin-bottom: 50px;
}

.speaker-item .si-pic img {
	min-width: 100%;
	border-radius: 2px;
}

.speaker-item .si-text .si-title {
	margin-bottom: 28px;
}

.speaker-item .si-text .si-title h4 {
	color: #171822;
	font-weight: 600;
	margin-bottom: 13px;
}

.speaker-item .si-text .si-title span {
	color: #f44949;
	font-size: 16px;
	display: block;
}

.speaker-item .si-text .si-social {
	margin-bottom: 24px;
}

.speaker-item .si-text .si-social a {
	display: inline-block;
	font-size: 16px;
	color: #171822;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	background: #ebebeb;
	border-radius: 50%;
	margin-right: 5px;
}

.speaker-item .si-text .si-social a:hover {
	background: -o-linear-gradient(330deg, #ee8425, #f9488b);
	background: linear-gradient(120deg, #ee8425, #f9488b);
	color: #ffffff;
}

.speaker-item .si-text p {
	color: #707070;
	line-height: 26px;
}

.load-more {
	text-align: center;
	padding-top: 10px;
}

.load-more .primary-btn {
	padding: 12px 45px;
}

/*------------------------
  Schedule Table Section
-------------------------*/

.schedule-table-section {
	padding-top: 0;
}

.schedule-table-tab .nav-tabs {
	border: none;
	border-radius: 4px;
	margin-bottom: 50px;
	-webkit-box-shadow: 3px 10px 30px rgba(74, 74, 77, 0.15);
	box-shadow: 3px 10px 30px rgba(74, 74, 77, 0.15);
}

.schedule-table-tab .nav-tabs .nav-item {
	border-right: 1px solid #e7e7e8;
	width: 20%;
	text-align: center;
}

.schedule-table-tab .nav-tabs .nav-item:last-child {
	border-right: none;
}

.schedule-table-tab .nav-tabs .nav-item .nav-link {
	padding: 22px 0;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: #171822;
}

.schedule-table-tab .nav-tabs .nav-item .nav-link.active {
	border-color: #e7e7e8;
	color: #ffffff;
}

.schedule-table-tab .schedule-table-content table {
	width: 100%;
	text-align: center;
	border: 1px solid #e1e1e1;
}

.schedule-table-tab .schedule-table-content table thead {
	border-bottom: 1px solid #e5e5e5;
}

.schedule-table-tab .schedule-table-content table thead tr th {
	border-right: 1px solid #e5e5e5;
	padding: 24px 0 26px;
}

.schedule-table-tab .schedule-table-content table thead tr th strong {
	font-size: 24px;
	color: #171822;
	font-weight: 600;
	margin-bottom: 8px;
}

.schedule-table-tab .schedule-table-content table thead tr th span {
	color: #f5523b;
	font-size: 16px;
	display: block;
	font-weight: 400;
}

.schedule-table-tab .schedule-table-content table tbody tr {
	border-bottom: 1px solid #e5e5e5;
}

.schedule-table-tab .schedule-table-content table tbody tr td {
	border-right: 1px solid #e5e5e5;
	width: 260px;
	height: 134px;
	padding: 37px 0 36px;
}

.schedule-table-tab .schedule-table-content table tbody tr td h5 {
	color: #171822;
	font-weight: 600;
	margin-bottom: 10px;
}

.schedule-table-tab .schedule-table-content table tbody tr td p {
	color: #171822;
	margin-bottom: 0;
}

.schedule-table-tab .schedule-table-content table tbody tr td p span {
	color: #a0a1b5;
}

.schedule-table-tab .schedule-table-content table tbody tr td.event-time {
	width: 140px;
	color: #f44949;
	font-size: 24px;
	font-weight: 600;
}

.schedule-table-tab .schedule-table-content table tbody tr td.break h5 {
	margin-bottom: 0;
}

.schedule-table-tab .schedule-table-content table tbody tr td.hover-bg:hover {
	background: -o-linear-gradient(330deg, #ee8425, #f9488b);
	background: linear-gradient(120deg, #ee8425, #f9488b);
}

.schedule-table-tab .schedule-table-content table tbody tr td.hover-bg:hover h5 {
	color: #ffffff;
}

.schedule-table-tab .schedule-table-content table tbody tr td.hover-bg:hover p {
	color: #ffffff;
}

.schedule-table-tab .schedule-table-content table tbody tr td.hover-bg:hover p span {
	color: #ffffff;
}
