/*----------------------------------------*/

/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "Work Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	/* font-smoothing: antialiased; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Work Sans", sans-serif;
}

/*---------------------
  Variables -- added your own variables */
h1 {
	font-size: 70px;
	overflow-wrap: break-word;
	margin-bottom: 1em
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Work Sans", sans-serif;
	color: #6a6b7c;
	font-weight: 400;
	line-height: 28px;
	margin: 0 10px 40px 10px;
	padding-left: 16px;
}

/* adding ol and ul */
ol,
h1 ul {
	font-size: var(--heading-6);
	margin-bottom: 1em
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;

}